$primary-color: rgb(243, 12, 12);
$secondary-color: rgb(67, 207, 207);
$third-color: rgb(9, 95, 14);
$background-image: url("https://lh3.googleusercontent.com/hDIRQ5w0l3vezKFHS3KkMxInDLa1Fu-fRfBzAxRB1a75Qxn_G64sgfqA4Pbsj6JYj00kOCt47k4DsYh9VGsiTOWxSTZ_y-7XIJ6BNEOdnHpZVTxYw4UjWBhAG982GYRWH3ykyzJCmMc=w2400");
