body,
html {
  height: 100vh;
}

.bgimg {
  background: url("https://lh3.googleusercontent.com/hDIRQ5w0l3vezKFHS3KkMxInDLa1Fu-fRfBzAxRB1a75Qxn_G64sgfqA4Pbsj6JYj00kOCt47k4DsYh9VGsiTOWxSTZ_y-7XIJ6BNEOdnHpZVTxYw4UjWBhAG982GYRWH3ykyzJCmMc=w2400");

  height: 100vh;

  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
}

.topleft {
  position: absolute;
  top: 0;
  left: 1rem;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
